{% extends 'base.html' %}

{%block head%}
<title>Disaster Management System</title>
{%endblock%}

{%block body%}
<div class="container">
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <h1 class="nav-link active" aria-current="page">Welcome to Disaster Management System</h1>
            </li>
          </ul>
    </div>
    <div class="button">
        <form action="" method="post" action="/">
            <input type="submit" class="btn" name="volunteer" value = "Volunteer"> 
            <input type="submit" class="btn" name="seeker" value = "Seeker">
        </form>
        
    </div>
</div>

{%endblock%}

