
{% extends 'base.html' %}

{%block head%}
<title>Seeker Page</title>
{%endblock%}

{%block body%}
<div class="container_seek">
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <h1 class="nav-link" aria-current="page">This is the page for Seeker</h1>
            </li>
          </ul>
    </div>
    <div class="form_seek">
        <form method="POST" action = "/volunteer_display">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Enter Name" value ={{request.form.Name}}>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Phone Number</label>
        <input type="number" class="form-control" name="Phone" placeholder="Enter PhoneNumber" value={{request.form.Phone}}>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Address</label>
        <input type="text" class="form-control" name="Address" placeholder="Enter Address" value={{request.form.Address}}>
    </div>
    <button type="submit" class="btn-secondary">Submit</button>
</form>
    </div>
</div>
{%endblock%}
